 /*  Heading of head */

 .typewriter h1 {
    overflow: hidden;
  
    border-right: .15em solid orange;
    
    white-space: nowrap;
    
    margin: 0 auto;
   
    letter-spacing: .15em;
   
    animation:
        typing 4.5s steps(40, end),
        blink-caret .75s step-end infinite;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 80%
    }
}


@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

/* last */
.row {
    display: flex;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    flex: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

/* Button */
.block {
display: block;
width: 100%;
border: none;
background-color: #04AA6D;
color: white;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
text-align: center;
}

.block:hover {
background-color: #ddd;
color: rgb(40, 201, 126);
}
 